<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/main.css">
</head>
  <body>
    <h1>Database</h1>
    <ul>
      <% results.forEach(function(result, index) { %>
        <li>
          Data: <%- result.name %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
