<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/main.css">
</head>
  <body>
    <h1>Create New Ticket</h1>
    <form action="/problem/add/" method="post">
      <p>
        <label for="newproblem">Comments?</label>
        <input type="text" name="newproblem" id="newproblem" uuid="d3101110-ccc5-4eb8-8e35-f74e6f076066" autofocus />
        <input type="submit" />
      </p>
    </form>
  </body>
</html>
